{% load static %}

<section class="query-section" style="margin-top: 45px;">
    <div class="container">
        <p>Any Queries? Ask us a question at<a href="tel:+8801862535859"><i class="fas fa-phone"></i> +8801862535859</a>
        </p>
    </div>
</section>
<!-- End of Query Section -->
<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-first-section">
        <div class="container">
            <div class="box-wrap" itemprop="about">
                <header>
                    <h1>About</h1>
                </header>
                <p>Welcome to Tours and Travels. Discover the world with us and let us turn your travel dreams into
                    reality!!!</p>

                <h4><a href="tel:+8801862535859"><i class="fas fa-phone"></i> +8801862535859</a></h4>
                <h4><a href="mailto:tours.travels@gmail.com"><i class="fas fa-envelope"></i> tours.travels@gmail.com</a>
                </h4>
                <h4><a href=""><i class="fas fa-map-marker-alt"></i> Dhaka, Bangladesh</a></h4>
            </div>

            <div class="box-wrap">
                <header>
                    <h1>links</h1>
                </header>
                <ul>
                    <li><a href="#">Achievements</a></li>
                    <li><a href="#">Tour Packages</a></li>
                    <li><a href="#">Terms and Policies</a></li>
                </ul>
            </div>

            <div class="box-wrap">
                <header>
                    <h1>quick contact</h1>
                </header>
                <section class="quick-contact">
                    <input type="email" name="email" placeholder="Your Email*">
                    <textarea placeholder="Type your message*"></textarea>
                    <button>Send message</button>
                </section>
            </div>

        </div>
    </div>
    <!-- End of box-Wrap -->
    <div class="footer-second-section">
        <div class="container">
            <hr class="footer-line">
            <ul class="social-list">
                <li style="font-size: 17px;"><a href="https://www.facebook.com/groups/toursortravels/?ref=share"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li style="font-size: 17px;"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li style="font-size: 17px;"><a href=""><i class="fab fa-skype"></i></a></li>
                <li style="font-size: 17px;"><a href="https://youtube.com/channel/UCpwZfArB-b2mm_no4R96FgQ"><i
                            class="fab fa-youtube"></i></a>
                </li>
                <li style="font-size: 17px;"><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
            <hr class="footer-line">
        </div>
    </div>
    <div class="footer-last-section">
        <div class="container">
            <p>Copyright 2023 &copy; JUST | Dept. of CSE <span> | </span> Theme designed and developed by Dept. of CSE
                of JUST</a></p>
        </div>
    </div>
</footer>