{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.rateyo.css' %}" />
    <!-- <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/meanmenu.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/inner-page-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Document</title>
</head>

<body>
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="top-header-left">
                    <div class="top-header-block">
                        <a href="mailto:tours.travels@gmail.com" itemprop="email"><i class="fas fa-envelope"></i>
                            tours.travel@gmail.com </a>
                    </div>
                    <div class="top-header-block">
                        <a href="tel:+8801862535859" itemprop="telephone"><i class="fas fa-phone"></i> +8801862535859
                        </a>
                    </div>
                </div>
                <div class="top-header-right">
                    <div class="social-block">
                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/groups/toursortravels/?ref=share"><i
                                        class="fab fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fab fa-viber"></i></a></li>
                            <li><a href="https://youtube.com/channel/UCpwZfArB-b2mm_no4R96FgQ"><i
                                        class="fab fa-youtube"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-skype"></i></a></li>
                        </ul>
                    </div>
                    <div class="login-block">
                        <a href="{% url 'login' %}">Login /</a>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top header Close -->
        <div class="main-header">
            <div class="container">
                <div class="logo-wrap" itemprop="logo">
                    <img src="{% static 'images/site-logo.jpg' %}" alt="Logo Image">
                </div>
                <div class="nav-wrap">
                    <nav class="nav-desktop">
                        <ul class="menu-list">
                            <li><a href="{% url 'homePage' %}">Home</a></li>
                            <li class="menu-parent">Packages
                                <ul class="sub-menu">
                                    <li><a href="#">All Packages</a></li>
                                    <li><a href="#">Upcoming Packages</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'about-us' %}">About Us</a></li>
                            <li><a href="{% url 'contact-us' %}">Contact</a></li>
                        </ul>
                    </nav>
                    <div id="bar">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div id="close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>